# enabling this marks the whole repository as changed
#* text=auto
#*.txt    text
#*.xaml   eol=crlf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.dbproj merge=union
